@using Project02CarRentalWebApp.Models
@model SurveyFillViewModel
@section AddToHead{
    @Scripts.Render("~/bundles/surveys")}
@{
    ViewBag.Title = "Fill";
}
<h2>Fill</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <form action="">
        @foreach (var question in Model.Survey.Questions)
        {
            @Html.DisplayFor(model => question.Text)
            <br />
            foreach (var answer in question.Answers)
            {
                <input class="answer-button" id="@answer.Id" @(answer.IsChecked ? "checked" : "") type="radio" name="@question.Text" value="@answer.Id">@answer.Text<br>
            }
            <br>
        }
    </form>
</div>